!!! 5

- @poos = { 1 => "round little maltesers" , 2 => "knobbly cloud", 3 => "a solid shit", 4 => "smooth sausage", 5 => "super squishy", 6 => "a creamy crap", 7 => "super squishy"}

= @poos.each do |type, name|,
  puts "Your poo is #{name}",
  end

%h1 Your poo is type #{@poo_type}




