!!! 5

%head
  <!--[if lt IE 8]> <html class="no-js ie7 oldie" lang="en"> <![endif]-->
  <!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
  <!--[if IE 9]>    <html class="no-js ie9 oldie" lang="en"> <![endif]-->
  <!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

  %title Dr Rhiannon's Poo Predictor!
  %link{:rel => "stylesheet", :href => "css/main.css", :type => "text/css"}
  %link{:rel => "stylesheet", :href => "css/normalize.min.css", :type => "text/css"}

%body

  %div{:class=>"main-container"}
    %div{:class=>"main wrapper clearfix"}

      %h1 You will be doing poo 7!

      %img{:src=>"./images/pooscale7.jpg", :class=>"scalearrow"}
